<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>AdCap!</title>
</head>
<body>
    <div id="on-404" class="d-flex align-items-center justify-content-center">
        <main class="container d-flex justify-content-center bg-1">
            <h1 class="c-1"><span class="c-2">Oups...</span>Cette page n'existe pas.</h1>
        </main>
    </div>
</body>
</html>