<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>AdCap!</title>
</head>
<body>

    <div class="container">
        <form class="bg-1" action="" method="POST">
            <div class="input-container">
                <label class="c-1" for="username">Nom d'utilisateur ou adresse email</label>
                <input class="bg-3 c-2 txt-ellipsis" type="text" id="username" name="username" placeholder="Entrez votre nom d'utilisateur ou adresse email...">
            </div>
            <div class="input-container">
                <label class="c-1" for="username">Mot de passe</label>
                <input class="bg-3 c-2 txt-ellipsis" type="text" id="username" name="username" placeholder="Entrez votre mot de passe...">
            </div>
            <div class="input-container">
                <input class="bg-3 c-2 txt-ellipsis" type="submit" value="Se connecter">
            </div>
        </form>
    </div>


</body>
</html>
