<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>AdCap!</title>
</head>
<body>

    <div id="fps">Fps:<span></span></div>

    <div id="loader" style="display: block;">
        <div class="circle-container">
            <div class="circle circle-1 border-1"></div>
            <div class="circle circle-2 border-2"></div>
            <div class="circle circle-3 border-3"></div>
            <div class="circle circle-4 border-1"></div>
            <div class="circle circle-5 border-2"></div>
            <div class="circle circle-6 border-3"></div>
        </div>
    </div>
    
    <main id="game" class="container" style="display: none;">

        <header class="d-flex bg-1">
            <div id="money" class="d-flex align-items-center c-1">$<span></span></div>
        </header>

        <% for (const key in player.stands) { %>

            <% const stand = player.stands[key]; %>
            
            <div id="stand-<%= stand.data.id %>" class="stand d-flex">
                <div class="left txt-center">
                    <div class="stand-name txt-ellipsis pointer bg-1 hover-bg-1 c-1 hover-c-1"><%= stand.data.name %></div>
                    <div class="stand-level bg-2 c-1"></div>
                </div>
                <div class="right">
                    <div class="stand-progress">
                        <div class="stand-progress-bar bg-1"></div>
                    </div>
                    <div class="d-flex">
                        <div class="stand-buy overflow-hidden pointer bg-3 hover-bg-3">
                            <div class="text c-1">Buy</div>
                            <div class="cost txt-ellipsis txt-center c-2">$<span></span></div>
                        </div>
                        <div class="stand-time d-flex align-items-center justify-content-center bg-2 c-1 txt-center"><span>00:00:00.0</span></div>
                    </div>
                </div>
            </div>

        <% } %>

    </main>

    <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
    <script src="/public/js/script.js" type="module"></script>

</body>
</html>